In [7]:
import requests
import pandas as pd

In [10]:
now_playing_url="https://api.themoviedb.org/3/movie/upcoming?api_key=8bc5a5245af0e94fde2d2ac84dffb856&language=en-US"
now_playing_json = requests.get(now_playing_url).json()
timeframe_end= now_playing_json['dates']['maximum']
timeframe_start= now_playing_json['dates']['minimum']

np_id= []
np_title= []
np_ovw= []
np_release_date= []
np_vote_average= []
np_votecount= []
np_original_language=[]
np_popularity=[]
sample_list = []
np_genre_id=[]
    
num_page = 1
for num_page in range(1, now_playing_json['total_pages']):
    now_pp_url="https://api.themoviedb.org/3/movie/upcoming?api_key=8bc5a5245af0e94fde2d2ac84dffb856&language=en-US"+ f"&page={num_page}" 
    now_playing_json_p = requests.get(now_pp_url).json()
#     sample_list.append(now_playing_json_p)  
    for x in range(0, len(now_playing_json_p['results'])):
        np_id.append(now_playing_json_p['results'][x]['id'])
        np_title.append(now_playing_json_p['results'][x]['title'])
        np_ovw.append(now_playing_json_p['results'][x]['overview'])
        np_release_date.append(now_playing_json_p['results'][x]['release_date'])
        np_genre_id.append(now_playing_json_p['results'][x]['genre_ids'])
        np_vote_average.append(now_playing_json_p['results'][x]['vote_average'])
        np_votecount.append(now_playing_json_p['results'][x]['vote_count'])
        np_original_language.append(now_playing_json_p['results'][x]['original_language'])
        np_popularity.append(now_playing_json_p['results'][x]['popularity'])
                        
# now_playing_json_p['results']['overview']
# now_playing_json_p
now_playin_df= pd.DataFrame({"np_id": np_id,
                       "np_title":np_title, "genre_id": np_genre_id,
                            "release_date": np_release_date,"vote_count":np_votecount,"np_populatrity": np_popularity, "original_language" : np_original_language,
                             "timeframe_end":timeframe_end, "timeframe_start":timeframe_start, 
                           })
now_playin_df.to_csv("upcoming.csv")
# type(np_genre_id)

In [9]:
now_playin_df

,np_id,np_title,genre_id,release_date,vote_count,np_populatrity,original_language,timeframe_end,timeframe_start
0,718444,Rogue,"[28, 12, 18, 53]",2020-08-20,347,413.599,en,2020-12-07,2020-11-20
1,594718,Sputnik,"[878, 18, 27]",2020-09-10,47,325.261,ru,2020-12-07,2020-11-20
2,425001,The War with Grandpa,"[35, 10751, 18]",2020-08-27,117,294.239,en,2020-12-07,2020-11-20
3,591629,Lady Driver,[18],2020-12-03,0,199.914,en,2020-12-07,2020-11-20
4,595149,Death of Me,"[27, 9648]",2020-10-02,47,199.852,en,2020-12-07,2020-11-20
...,...,...,...,...,...,...,...,...,...
235,758534,親愛的殺手,"[18, 10749]",2020-12-04,0,1.386,zh,2020-12-07,2020-11-20
236,722774,The water springs,[18],2020-12-01,0,1.318,es,2020-12-07,2020-11-20
237,660337,Atarrabi & Mikelats,[18],2020-12-02,0,1.299,eu,2020-12-07,2020-11-20
238,738828,Millione Guinee,[],2020-12-07,0,1.271,ar,2020-12-07,2020-11-20
239,610281,The Three,"[18, 10749]",2020-12-03,0,1.270,ru,2020-12-07,2020-11-20