In [5]:
# API Pull


import os
import pandas as pd 
from matplotlib import pyplot as plt
import numpy as np
import json
import requests
# Movie DB api key 8bc5a5245af0e94fde2d2ac84dffb856

In [6]:
genre_url= "https://api.themoviedb.org/3/genre/movie/list?api_key=8bc5a5245af0e94fde2d2ac84dffb856&language=en-US"
genre_json = requests.get(genre_url).json()
genre_id=[]
genre_name=[]
for x in range(0, len(genre_json['genres'])):
    genre_id.append(genre_json['genres'][x]['id'])
    genre_name.append(genre_json['genres'][x]['name'])
    
genre_df= pd.DataFrame({"genre_id": genre_id,
                       "genre_name":genre_name})
genre_df

    genre_id       genre_name
0         28           Action
1         12        Adventure
2         16        Animation
3         35           Comedy
4         80            Crime
5         99      Documentary
6         18            Drama
7      10751           Family
8         14          Fantasy
9         36          History
10        27           Horror
11     10402            Music
12      9648          Mystery
13     10749          Romance
14       878  Science Fiction
15     10770         TV Movie
16        53         Thriller
17     10752              War
18        37          Western

In [9]:
now_playing_url="https://api.themoviedb.org/3/movie/now_playing?api_key=8bc5a5245af0e94fde2d2ac84dffb856&language=en-US"
now_playing_json = requests.get(now_playing_url).json()
timeframe_end= now_playing_json['dates']['maximum']
timeframe_start= now_playing_json['dates']['minimum']

np_id= []
np_title= []
np_ovw= []
np_release_date= []
np_vote_average= []
np_votecount= []
np_original_language=[]
np_popularity=[]
sample_list = []
np_genre_id=[]
    
num_page = 1
for num_page in range(1, now_playing_json['total_pages']):
    now_pp_url="https://api.themoviedb.org/3/movie/now_playing?api_key=8bc5a5245af0e94fde2d2ac84dffb856&language=en-US"+ f"&page={num_page}" 
    now_playing_json_p = requests.get(now_pp_url).json()
#     sample_list.append(now_playing_json_p)  
    for x in range(0, len(now_playing_json_p['results'])):
        np_id.append(now_playing_json_p['results'][x]['id'])
        np_title.append(now_playing_json_p['results'][x]['title'])
        np_ovw.append(now_playing_json_p['results'][x]['overview'])
        np_release_date.append(now_playing_json_p['results'][x]['release_date'])
        np_genre_id.append(now_playing_json_p['results'][x]['genre_ids'])
        np_vote_average.append(now_playing_json_p['results'][x]['vote_average'])
        np_votecount.append(now_playing_json_p['results'][x]['vote_count'])
        np_original_language.append(now_playing_json_p['results'][x]['original_language'])
        np_popularity.append(now_playing_json_p['results'][x]['popularity'])
                        
# now_playing_json_p['results']['overview']
# now_playing_json_p
now_playin_df= pd.DataFrame({"np_id": np_id,
                       "np_title":np_title, "genre_id": np_genre_id,
                            "release_date": np_release_date,"vote_count":np_votecount,"np_populatrity": np_popularity, "original_language" : np_original_language,
                             "timeframe_end":timeframe_end, "timeframe_start":timeframe_start, 
                           })
now_playin_df.to_csv("now_playi")
# type(np_genre_id)

,np_id,np_title,genre_id,release_date,vote_count,np_populatrity,original_language,timeframe_end,timeframe_start
0,724989,Hard Kill,"[28, 53]",2020-10-23,117,1644.732,en,2020-11-17,2020-09-30
1,671039,Rogue City,"[53, 28, 18, 80]",2020-10-30,148,1622.107,fr,2020-11-17,2020-09-30
2,531219,Roald Dahl's The Witches,"[14, 10751, 12, 35, 27]",2020-10-26,620,1507.392,en,2020-11-17,2020-09-30
3,528085,2067,"[878, 53, 18]",2020-10-01,296,1278.003,en,2020-11-17,2020-09-30
4,741074,Once Upon a Snowman,"[16, 10751, 35, 14]",2020-10-23,129,984.986,en,2020-11-17,2020-09-30
...,...,...,...,...,...,...,...,...,...
1370,763612,Ondan Bahsetmiyorum,[],2020-11-11,0,0.000,tr,2020-11-17,2020-09-30
1371,763553,Nothing but the Sun,[99],2020-11-18,0,0.000,es,2020-11-17,2020-09-30
1372,763531,Meeting,"[18, 53]",2020-10-01,0,0.000,en,2020-11-17,2020-09-30
1373,763484,Die by the Sword,"[28, 12]",2020-10-06,0,0.000,es,2020-11-17,2020-09-30
1374,763342,the believers,[],2020-11-14,0,0.000,ja,2020-11-17,2020-09-30

In [ ]:
now_playing_json

In [13]:
# testmovie = "531219"
test_movie_url= "https://api.themoviedb.org/3/movie/724989?api_key=8bc5a5245af0e94fde2d2ac84dffb856&language=en-US"
testmovie_json = requests.get(test_movie_url).json()
prod_comp=[]
x=0
# for np_id in now_playin_df["np_id"]:

# test_movie_url= f"https://api.themoviedb.org/3/movie/{np_id}?api_key=8bc5a5245af0e94fde2d2ac84dffb856&language=en-US"
# testmovie_json = requests.get(test_movie_url).json()

for x in range(0, len(testmovie_json['production_companies'])):
        prod_comp.append(testmovie_json['production_companies'][x]['name'])

In [ ]:
# sample_list[1]['results'][0]['title']
sample_list

In [14]:
prod_comp

['BondIt Media Capital',
 'Buffalo 8 Productions',
 'River Bay Films',
 'SSS Entertainment',
 'EFO Films']

In [ ]:
# testmovie = "550"
test_movie_url= "https://api.themoviedb.org/3/movie/550?api_key=8bc5a5245af0e94fde2d2ac84dffb856&language=en-US"
testmovie_json = requests.get(test_movie_url).json()
testmovie_json