In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
#Question: Predicting what streaming platform 2021 movies will be moved to 
#Step 01: Read in the data. Source: Kaggle, "Movies on Netflix, Prime Video, Hulu and Disney+"

In [4]:
movie_data = pd.read_excel("MoviesOnStreamingPlatforms.xlsx")
movie_data.head()

,Unnamed: 0,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type,Directors,Genres,Country,Language,Runtime
0,0,1,Inception,2010,13+,8.8,0.87,1,0,0,0,0,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.0
1,1,2,The Matrix,1999,18+,8.7,0.87,1,0,0,0,0,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136.0
2,2,3,Avengers: Infinity War,2018,13+,8.5,0.84,1,0,0,0,0,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149.0
3,3,4,Back to the Future,1985,7+,8.5,0.96,1,0,0,0,0,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116.0
4,4,5,"The Good, the Bad and the Ugly",1966,18+,8.8,0.97,1,0,1,0,0,Sergio Leone,Western,"Italy,Spain,West Germany",Italian,161.0

In [2]:
#Step 2: Set up Logical Regression to find the highest probability for what platform a new movie will be moved to 
### 
from sklearn.datasets import make_blobs

X, y = make_blobs(centers=2, random_state=42)

print(f"Labels: {y[:10]}")
print(f"Data: {X[:10]}")

# from sklearn import make_blobs

# linear_model.LinearRegression()

Labels: [0 1 0 1 1 0 1 1 0 0]
Data: [[-2.98837186  8.82862715]
 [ 5.72293008  3.02697174]
 [-3.05358035  9.12520872]
 [ 5.461939    3.86996267]
 [ 4.86733877  3.28031244]
 [-2.14780202 10.55232269]
 [ 4.91656964  2.80035293]
 [ 3.08921541  2.04173266]
 [-2.90130578  7.55077118]
 [-3.34841515  8.70507375]]

In [5]:
# movie_data.Age.value_counts()
# #pd.get_dummies() # one hot encoding 
# 18+ 7+ 13 
# 1.  0. 0. 
# MF  #Label Encoding
# 0
# 1

18+    3474
7+     1462
13+    1255
all     843
16+     320
Name: Age, dtype: int64

In [6]:
# movie_data.Country.value_counts()

United States                                       8776
India                                               1064
United Kingdom                                       905
Canada                                               555
Australia                                            202
                                                    ...
Italy,Monaco,West Germany                              1
Italy,West Germany,United Kingdom                      1
France,United States,United Kingdom                    1
Sweden,Germany,France,Denmark,United States            1
Ireland,Belgium,France,Luxembourg,United Kingdom       1
Name: Country, Length: 1303, dtype: int64

In [ ]:
ID	Title	Year	Age	IMDb	Rotten Tomatoes	Netflix	Hulu	Prime Video	Disney+	Type	Directors	Genres	Country	Language	Runtime

In [ ]:
Year Age IMDb To Country outcome
2020 17  7.6.  8.2 US     Netflix
Classification 
LogR -> probablities that the movie is on Netflix(70%) or Hullu(10%) 
SVM -> Netflix 
Decision Tree -> hulu